<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div id="main">
      <h1 style="text-decoration-line: underline;">express-Generator</h1>
      <p style="font-size: 30px; position: relative; left: -50px;">Learning session and cookies</p>
    </div>
  </body>
</html>
